#streamlit==1.24.0
#pandas==1.3.3
#numpy>=1.22.0
#nltk==3.6.5
#tensorflow
#plotly==5.1.0
#emoji
#scikit-learn==1.2.2
#matplotlib==3.4.3
#seaborn>=0.11.0


streamlit
openai
moviepy
Pillow
